div{
    background-color: rgb(213, 161, 178);
    margin: auto;
    padding: auto;
    width: 630px;
    height: auto;
    border: 20px;
    border-color: beige;
    border-radius: 20%;
}

body{
    text-align: center;
    background-color: palevioletred;
}

table{
    margin: auto;
}

.board td {
    width: 40px;
    height: 40px;
    text-align: center;
    transition: 0.5s;
    border: 1px solid rgb(99, 99, 99);
    text-size-adjust: 20rem;
}

.cell{
    font-size:xx-large    
}

.shown{
    background-color: darkgray;
}

.hidden{
    background-color: lightgray;
}

.footer {
    color:black;
    position: relative;
    margin-top: 2%;

}

button{
    margin-left: 20px;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    font-size: xx-large;
    background-color: lightgray;
    border-color: darkgrey;
    transition: 0.5s;
}

.level{
    width: auto;
    height: auto;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    border-color: darkgrey;
    transition: 0.5s;
}
.lives-count span{
    margin-left:30px;
}